@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold,italic&subset=latin,latin-ext');


@font-face {
  font-family: "Roboto";
  src: local("../../../../../public/fonts/Roboto-Regular.ttf"), url("../../../../../public/fonts/Roboto-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}