@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


@font-face {
  font-family: "Roboto";
  src: local("../../../../../public/fonts/Roboto-Regular.ttf"), url("../../../../../public/fonts/Roboto-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}