@import '../../../../../common/components/styles/abstracts/colors';

.container {
  background-size: cover;
  background-position: top;
  min-height: 100%;
  height: 100vh;
  width: 100%;
  position: absolute;
  margin: auto;

  .logoContainer {
    position: fixed;
    left: 2.5vw;
    top: 2.5vh;

    .rowWithGap {
      gap: 10px;

      .logoText {
        color: $main-blue-color;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
      }
    }
  }

  .emailContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 90px;
    padding: 38px;
    width: 400px;

    .emailText {
      color: var(--unnamed, #434343);
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
    }
  }
}
