@import '../../../../common/components/styles/abstracts/colors';

.logoWrapper {
  display: inline-flex;
  align-items: center;
  height: 50px;
}

.logoText {
  color: $main-blue-color;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}