@import '@domains/common/components/styles/abstracts/common';

.tableContainer {
  @extend %table;
}

.search {
  font-size: 150%;
  position: absolute;
  right: 30px;
}

.cross {
  font-size: 100%;
  position: absolute;
  right: 60px;

  :hover {
    opacity: .6;
  }

  :active, :focus {
    opacity: .8;
  }
}
