@import "abstracts/typography";

html,
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

// TODO: This is an extreme solution, we need to get rid of it
.ant-dropdown {
    width: min(382px, 19.293vw) !important;
    height: min(222px, 20.556vh) !important;
    border-radius: 12px;
    box-shadow: black;
}

.rc-virtual-list-holder-inner {
    div[title="Принята"] {
        color: #6CDC15 !important;
    }

    div[title="Отклонена"] {
        color: #EB3468 !important;
    }

    div[title="Новое"] {
        color: #EB3468 !important;
    }

    div[title="Отправлена"] {
        color: #FF9500 !important;
    }

    div[title="Открыто"] {
        color: #2F54EB !important;
    }

    div[title="Закрыто"] {
        color: #52C41A !important;
    }

    div[title="На рассмотрении"] {
        color: #2F54EB !important;
    }

    div[title="Отменена"] {
        color: #b4710d !important;
    }
}

.centralized {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pageContent {
    width: 100%;
    height: 100%;
    flex: auto;
    align-self: center;
    min-width: initial;
}
