@import "../../../../styles/abstracts/typography";
@import "../../../../styles/abstracts/colors";

.menu {
  padding-top: 10px;
  border: 0;
  display: flex;
  margin-top: auto;

  :global {
    .ant-menu-item-selected {

      color: $color-black;
      background-color: white !important;
      font-family: "Roboto";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px; /* 175% */
      letter-spacing: -0.5px;
    }

    .ant-menu-item:hover {

      color: $color-black;
      font-family: "Roboto";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px; /* 175% */
      letter-spacing: -0.5px;
    }

    .ant-menu-item:active {
      background-color: white;
    }
  }
}


.menuItem {
  color: $color-unselected-item;
  font-family: "Roboto";
  display: flex;
  width: 160px;
  height: 40px;
  align-items: center;
}


