@import "../../../../../common/components/styles/abstracts/colors";

.container{
  padding: 48px;
  width: 560px;
  height: 461px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.10);
}

.rowStyles{
  justify-content: center;
  align-items: center;
}

.black{
  color: $color-black;
}