@import '../../../../common/components/styles/abstracts/colors';

.mainRow {
  display: flex;
  height: 100px;
  justify-content: space-between;
  gap: 30px;

  @media (max-width: 1200px) {
    flex-direction: column;
  }

  .formContainer {
    width: 700px;

    .table {
      max-width: 700px;

      .requiredMark {
        color: $color-required-mark;
      }

      .nameInput {
        max-width: 100%;
        display: flex;

        .tooltipContainer{
          align-self: end;
          height: auto;
          width: 3%;
        }

        .inputWithTooltipContainer {
          display: flex;
          flex-direction: row;
          justify-content: unset;
        }

        .inputWithTooltip {
          width: 70%;
          margin-right: 5px;
          display: flex;
        }

        .label {
          width: 100%;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
        }
      }

      .label {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;

        :global {
          .ant-select-selector {
            border-radius: 12px 0 0 12px !important;
          }
        }
      }

      .complexInputContainer {
        width: 100%;

        .complexInput {
          width: 70%;

          .address {
            width: 65%;
            border-radius: 0;

            .input {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }

          .room {
            width: 35%;

            .input {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }

        .mapButton {
          width: 30%;
          margin-top: 38px;
          color: $color-main;
          padding-left: 1%;
        }
      }


      .button {
        width: auto;
        padding: 8px 16px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  .mobileApp {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    margin-top: 20px;
    height: 814px;
    width: 505px;
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(24, 144, 255, 0.3) 0%, rgba(245, 245, 245, 0.00) 100%);

    .mobile {
      align-self: center;
    }

    @media (max-width: 1440px) {
      width: 400px;
    }

    @media (max-width: 1200px) {
      width: 505px;
    }

    .text{
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
    }
  }
}
