@import '@domains/common/components/styles/abstracts/colors';

.selectContainer {
  position: relative;
  width: 150px;

  .select {
    top: -64px;
    position: absolute;
    left: 18vw;
  }
}

.cardsContainer {
  margin-bottom: 50px;

  .imageCard {
    margin-top: -56px;

    @media (max-width: 1600px) {
      .image {
        width: 90%;
        height: 80%;
      }
    }

    @media (max-width: 1200px) {
      .image {
        width: 85%;
        height: 75%;
      }
    }

    @media (max-width: 992px) {
      margin-top: 40px;

      width: 80%;
      height: 80%;
    }

    @media (max-width: 712px) {
      display: none;
    }
  }

  .card {
    padding-right: 50px;

    @media (max-width: 992px) {
      padding-right: unset;
    }

    .mainBlock {
      .description {
        margin-bottom: 40px;
        color: $color-background;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.32px;
      }

      .information {
        .row {
          margin-bottom: 30px;
        }

        .row > :first-child {
          color: $color-text-lite-gray;
          font-family: 'Open Sans', sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
        }

        .row > :last-child {
          color: $color-text-title;
          font-family: 'Open Sans', sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
        }

        .queryText {
          margin-top: 40px;

          .queryTextHeader {
            margin-bottom: 10px;
            color: $color-text-lite-gray;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
          }

          .queryTextContent {
            color: $color-text-title;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }

        .queryHistory {
          margin-top: 100px;

          .queryHistoryScrollContainer {
            height: 180px;
            overflow-y: auto;

            .queryHistoryContainer {
              margin-bottom: 20px;
              display: flex;
              flex-direction: row;
              gap: 20px;
              justify-content: space-between;

              .queryHistoryTime {
                display: flex;
                flex-direction: row;
                gap: 4px;
                min-width: 150px;
                color: $color-text-title;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;

                span {
                  opacity: .8;
                }
              }

              .queryHistoryText {
                color: $color-text-title;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
              }
            }
          }

          .queryHistoryHeader {
            margin-bottom: 40px;
            font-family: 'Open Sans', sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
          }
        }
      }
    }
  }
}
