@import '@domains/common/components/styles/abstracts/colors';

.selectContainer {
  position: relative;
  width: 150px;

  .select {
    top: -64px;
    position: absolute;
    left: 18vw;
  }
}

.cardsContainer {
  margin-bottom: 50px;

  .imageCard {
    margin-top: -64px;

    @media (max-width: 992px) {
      margin-top: 40px;
    }

    @media (max-width: 712px) {
      display: none;
    }
  }

  .card {
    padding-right: 10vw;

    @media (max-width: 992px) {
      padding-right: unset;
    }

    .mainBlock {
      .description {
        margin-bottom: 40px;
        color: $color-background;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.32px;
      }

      .information {
        .row {
          margin-bottom: 30px;
        }

        .row > :first-child {
          color: $color-field-name;
          font-family: 'Open Sans', sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
        }

        .row > :last-child {
          color: $color-field-value;
          font-family: 'Open Sans', sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
        }

        .queryText {
          margin-top: 40px;

          .queryTextHeader {
            margin-bottom: 10px;
            color: $color-field-name;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
          }

          .queryTextContent {
            color: $color-field-value;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }
  }
}