@import '@domains/common/components/styles/abstracts/_colors.scss';


.itemContainer {
  margin-bottom: 30px;

  .fieldName {
    color: $color-text-lite-gray;

    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }

  .fieldValue {
    color: $color-text-title;

    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }
}
