.baseRowContainer {
  padding-bottom: 50px;

  .infoContainer {
    margin-left: 70px;
    max-width: 600px;

    .title {
      margin-bottom: 50px;
    }

    .itemContainer {
      margin-bottom: 30px;
    }

    .buttonsContainer {
      gap: 20px;
    }
  }
}
