@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/typography';

.container {
  width: 100%;
  height: 100%;

  .duckContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .textContainer {
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;

      .titleText {
        color: #222;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -1.5px;
      }

      .descriptionText {
        opacity: .6;
        text-align: center;
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -1.5px;
      }

      .button {
        width: 221px;
        margin-top: 32px;
      }
    }
  }
}
