@import "../../../../common/components/styles/abstracts/colors";

.container {
  background-size: cover;
  background-position: top;
  min-height: 100%;
  height: 100vh;
  width: 100%;
  position: absolute;
}

