@import '../../../../common/components/styles/abstracts/colors';

.mainRow {
  height: 100px;
  justify-content: space-between;

  .formContainer {
    width: 700px;

    .table {
      max-width: 550px;

      .requiredMark {
        color: $color-required-mark;
      }

      .label {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;

        :global {
          .ant-select-selector {
            border-radius: 12px 0 0 12px !important;
          }
        }
      }

      .complexInputContainer {
        width: 125%;

        .complexInput {
          width: 76%;

          .address {
            width: 65%;
            border-radius: 0;

            .input {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }

          .room {
            width: 35%;

            .input {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }

        .mapButton {
          width: 24%;
          margin-top: 38px;
          color: $color-main;
          padding-left: 1%;
        }
      }


      .button {
        width: 40%;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}
