@import '@domains/common/components/styles/abstracts/_variables';
@import '@domains/common/components/styles/abstracts/_colors.scss';

.form {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 364px;
  height: 350px;
  padding: 30px;
  border-radius: 16px;
  background: $color-white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  z-index: $z-foreground;
}

.label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.requiredMark {
  color: $color-required-mark;
}

.select {
  border-radius: 12px !important;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 30px;
  margin: 50px 0;

  .cancelButton {
    background-color: white;
    color: #2698FF;
    width: 79px;
    border-color: #2698FF;

    &:hover {
      background-color: rgba(24, 144, 255, 0.1);
    }

    &:active {
      background-color: #1890FF;
      color: #FFFFFF;
    }
  }

  .saveButton {
    width: 112px;
  }
}
