.button {
  box-shadow: none;
  font-weight: 700;

  &:hover, &:focus {
    background-color: #795656;
    border-color: #9c0d0d;
    color: #815656;
  }

  &:active {
    background-color: #795656;
    color: #815656;
    opacity: 70%;
  }

  &:disabled, &:hover:disabled {
    background-color: #795656;
    border-color: #815656;
    color: #9c0d0d;
    opacity: 70%;

    & span {
      opacity: 70%;
    }
  }
}